@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
  font-family: 'Raleway', sans-serif;
  color:#2F2C2C;
}
.navbar{
    background-color:#fff;
    border-bottom: 1px solid #DD7800;
}
.brand{
  max-width: 150px;
}
.header {
  background: #DD7800;
  background-image: url('img/banner02.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* position: fixed;
  height: 600px; */

}
.header h1 {
  text-align: left;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding-top:200px;
  margin-bottom:50px;
}

.banner {
  background: #DD7800;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.banner h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 3rem;
}

.img-lua {
  background-image: url('img/banner-footer02.png');
}

.logo-footer {
  max-width: 200px;
}

main {
  background: #fff;
  position: relative;
  /* top: 500px; */
  font-family: 'Raleway', sans-serif;
  color: #111111;
}
h2 {
 padding-top: 60px;
 font-weight: 900;
 font-size: 30px;
}

.texto01{
  font-weight:lighter;
  font-size: 24px;
}

span{
  background-color:#DD7800;
}

.cta{
  margin-top: 50px;
  border: 3px solid #DD7800;
  background-color: transparent;
  color:#2F2C2C;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 50px;
  pointer-events: none; 
  cursor: default;
}

.primary {
    border: 3px;
    background-color: #DD7800;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 10px 30px;
/*
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
*/
}

.circulo {
    width: 100%;
    max-width: 380px;
    margin-left:100px;
    margin-top:50px;
}

.button-wrap {
    white-space: pre-wrap;
}

.pad-15 {
    padding: 15px;
}

li {
    font-weight: bold;
}

.btn-preco {
    margin: 0 0 50px 0;
    text-align: left;
    line-height: 1
}

.titulo {
    color: #FFFFFF;
    background: #DD7800;
    margin-left:-90px !important;
    padding-left: 88px;
    padding-right: 88px;
}

.btn-preco b {
    font-size: 42px;
    padding: 0 15px;
}

.footer {
    background: #DD7800;
}

.footer p {
    color: #FFFFFF;
    margin: 10px;
}

.medias {
    width: 50px;
}
.pform{
  margin-top: 25px;
  color: #2F2C2C;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
 /* font-weight: 600; */
 /* width: 721px; */
  text-align: center;
}
/* header campanha */
.header-campanha {
  background: #DD7800;
  background-image: url('img/banner-camp.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
/*
  position: fixed;
  height: 600px;
*/
}

.header-campanha h1 {
  text-align: left;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding-top:200px;
/*
  margin-left: 100px;
  margin-bottom:50px;
*/
}

/* header consultoria */
.header-consul {
  background: #DD7800;
  background-image: url('img/banner-cons.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
/*
  position: fixed;
  height: 600px;
*/
}

.header-consul h1 {
  text-align: left;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding-top:200px;
/*
  margin-left: 100px;
  margin-bottom:50px;
*/
}
@media (max-width: 992px) {
  .circulo{
   margin-left: 50px;

  }
  .titulo{
    margin-left:-10px !important;
    padding-left: 12px !important;
    padding-right: 15px !important;
   
  }
}
@media (max-width: 600px) {
  .circulo{
   margin-left: 0;
   width: 80%;
  }
  .cta{
    font-size:15px;
  }
  .titulo{
    margin-left:0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
   
  }

  .centraliza-mobile {
    justify-content: center !important;
  }
}
